// path
$path-image: #{'/public/images/'};


// screen
$min-pc: 1201px;
$max-t: 1200px;
$max-m: 768px;
$min-t: 769px;

// container
$container: 1085px;


// colors
$ornageish: #ff9548;

// z-index
$z-index-spinner: 3;
$z-index-alert: 9999;
$z-index-header: 10;